@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#sec1 {
  background-color: black;
  background-image: linear-gradient(
      rgba(17, 16, 16, 0.74),
      rgba(15, 15, 15, 0.733)
    ),
    url("./images/black-flat-screen-computer-monitor-1714208.jpg");
  /* background-blend-mode: screen; */
  /* filter: blur(3px);*/
  background-size: cover;
  width: 100%;
}

.top {
  width: 80%;
  position: absolute;
  margin-left: 10%;
  height: 40px;

  display: flex;
  justify-content: flex-end;
  float: right;

  top: 2%;
}
.top button {
  margin: 9px;
  border-radius: 3px;
  height: 50px;
  width: 90px;
  background-color: transparent;
  color: rgb(43, 177, 143);
}

.about {
  flex: 1;
}

.top button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 30, 129);
}

.main {
  top: 10%;
  /* background-color: red; */
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  float: right;
}
.profile img {
  width: 350px;
  border-color: whitesmoke;
  /* border-width: 50px; */
  clip-path: circle(40%);
  animation: drop 2s ease;
}

.profile {
  margin: 120px 0px 0px 0px;
  flex: 1;
}
.text {
  text-shadow: rgba(241, 236, 236, 0.842);
  width: 100%;
  margin: 150px 70px 0px 20px;
  position: relative;
  display: flex;
  flex: 1;
  vertical-align: center;
  text-align: center;
  flex-direction: column;
  float: right;
  font-family: Arvo;
  animation: drop 2s ease;
  /* background-color: red; */
}

.name {
  margin-top: 50px;
  font-size: 60px;
  color: #2da8a2;
}
.descr {
  margin: 120px 0px 0px 0px;
  font-size: 30px;
  color: rgb(20, 101, 104);
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .top {
    margin: 0px 0px 0px 80px;
  }
  .top button {
    width: 80px;
    margin: 0px 0px 0px 5px;
  }
  .main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .text {
    margin: 0px 0px 0px 40px;
  }
  .profile {
    display: block;
    width: 50%;
    margin: auto;
  }

  .name {
    position: absolute;
    width: 100%;
    align-content: center;
    /* left: 5%; */
    /* margin: 0px 0px 0px 50px; */
    font-size: 30px;
  }
  .descr {
    font-size: 25px;
    position: absolute;
    width: 100%;
    align-content: center;
    /* left: 5%; */
    /* margin: 120px 50px 0px -45px; */
  }

  .about {
    flex: 0;
  }
}

#sec2 {
  background-image: linear-gradient(
      rgba(11, 11, 11, 0.719),
      rgba(11, 11, 11, 0.753)
    ),
    url("./images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg");
  background-color: #000000;
  background-size: cover;
}

.section {
  color: rgb(175, 18, 18);
}

.skills {
  top: 5%;
  left: 45%;
  color: #45a29e;
  position: absolute;
  font-size: 50px;
}

.fields {
  top: 15%;
  display: flex;
  width: 30%;
  flex-direction: column;
  position: absolute;
}

.text1 {
  color: #c5c6c7;
  margin: 15% 3% 0% 10%;
}

.web_d,
.android_d,
.machine_le,
.parallel {
  display: flex;
  text-align: center;
}
.bar {
  margin: 16% 3% 0% 90%;
  /* border-radius: 1%; */
  position: absolute;
  height: 5px;
  background-color: blue;
  background-color: aqua;
}
.web_d .bar {
  width: 90%;
}
.android_d .bar {
  width: 95%;
}
.machine_le .bar {
  width: 70%;
}
.parallel .bar {
  width: 30%;
}

.load {
  animation: bar1 2s linear;
}
@keyframes bar1 {
  from {
    opacity: 0;
    width: 10%;
  }
  to {
    opacity: 1;
    width: 90%;
  }
}
@keyframes bar2 {
  from {
    opacity: 0;
    width: 10%;
  }
  to {
    opacity: 1;
    width: 95%;
  }
}
@keyframes bar3 {
  from {
    opacity: 0;
    width: 10%;
  }
  to {
    opacity: 1;
    width: 70%;
  }
}

@keyframes bar4 {
  from {
    opacity: 0;
    width: 10%;
  }
  to {
    opacity: 1;
    width: 30%;
  }
}
